<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC		
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"		
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		 
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">ids0207</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/tcc-estoque</property>
		
		<!--
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tcc-estoque</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		-->
		 
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property> 
		<property name="hibernate.format_sql">true</property>
		 
		<mapping class="com.luciianester.gestorestoque.model.Usuario" />
		<mapping class="com.luciianester.gestorestoque.model.Pessoa" />
		<mapping class="com.luciianester.gestorestoque.model.Produto" />
		<mapping class="com.luciianester.gestorestoque.model.Categoria" />
		<mapping class="com.luciianester.gestorestoque.model.Tipo" />
		<mapping class="com.luciianester.gestorestoque.model.UnidadeDeMedida" />
		
	</session-factory>
</hibernate-configuration>